---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Personality",
    description:
      "Host your events and make a great impression on your audiance.",
    icon: "mdi:handshake",
  },
  {
    title: "Media Coverage",
    description:
      "When its going down, we will always be there. Live sports coverage when and where you need it.",
    icon: "mdi:feather",
  },
  {
    title: "On-Demand",
    description:
      "Forgot to plan the media coverage of your event? Dont sweat, we are ready on-demand.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Pre-production",
    description:
      "Our experts will build the shot sheets and onsite plan to make sure that not a moment is missed.",
    icon: "mdi:graph",
  },
  {
    title: "Hype Train",
    description:
      "Are you trying to get the word out on your player or event. We can connect you with the right people in industry to acheive your goals.",
    icon: "mdi:search-web",
  },
  {
    title: "Last Touch",
    description:
      "If your not happy, we are not happy. We make sure the product we make is up to the Emerald Coast Media standard. ",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Services" id="features">
  <Fragment slot="lead">
    Emerald Coast Media provides <span class="text-primary">results</span>. Whatever your media goals are, we provide
    <span class="text-primary">state-of-the-art</span>
    media and content that <span class="text-primary">slaps</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
