---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Emerald Coast Media" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-64" />
  <Fragment slot="lead">
    Emerald Coast Media is a full-service media company that specializes in creating sports and lifestyle content.
  </Fragment>
  <div class="flex justify-center">
    <a
      href="https://kateupdate.com/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>Meet Kate</span>
    </a>
  </div>
</ContentSection>
